
body{
    background-color: white;
}

.top{
    height: 80vh;
    position: relative;
}

.skewed{
    background-color: var(--blue);
    transform: skewY(6deg);
    transform-origin: top right;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-section{
    margin: 2rem;
}

input{
    background-color: rgb(224, 224, 224);
    margin: .3rem;
    border-radius: 5px;
}



.output{
    height: 60vh;
}

