:root{
    --blue: #ee1606;
    --cream: #e9c46a;
    --darkcream: #f4a261;
    --orange: #e76f51
}

body{
    background-color: white;
}

.top{
    height: 80vh;
    position: relative;
}

.skewed{
    background-color: var(--blue);
    transform: skewY(6deg);
    transform-origin: top right;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    transform: skewY(-6deg);
    color: var(--cream);
}

.title > h1{
    font-size: 3rem;
    letter-spacing: 8px;
}

.form-section{
    margin: 2rem;
}

input{
    background-color: rgb(224, 224, 224);
    margin: .3rem;
    border-radius: 5px;
}

.submit-button{
    background-color: var(--blue);
    width: 10rem;
    height: 3rem;
    color:rgb(224, 224, 224);
    border-radius: 10px;
    box-shadow: black 2px 2px 5px;
}



.output{
    height: 60vh;
}

